.Classification {
    width: 100%;
    height: 1639px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.ClassificationBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-top: 70px;

    width: 100vw;
    height: 357px;

    background: linear-gradient(90deg, #2A2A35 1.02%, #505063 51.48%, #2A2A35 100%);
}

.ClassificationTitle {
    width: 633px;
    height: 60px;

    font-family: 'Orbitron';
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;

    color: #F3F3F3;
}

.PodiumBox {
    display: flex;
    justify-content: center;

    margin-top: -207px;

    width: 1280px;
}

.ExpansiveCardsBox {
    margin-top: 16px;
}

.Footer {
    margin-top: 409px;
}