.Timeline {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 104px;

    width: 100%;
}

.TitleAndSubtitleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1120px;
    height: 97px;
    margin-top: 70px;
}

.TitleBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 1120px;
    height: 60px;
}

.TitleBox::after {
    content: '';

    width: 521px;
    height: 16px;

    background: #000000;
}

.Title {
    width: 575px;
    height: 60px;

    font-family: 'Orbitron';
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;

    color: #000000;

}

.Subtitle {
    width: 856px;
    height: 37px;

    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;

    color: #000000;
}

.FirstCardsBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    margin-top: 70px;

    width: 1120px;
    height: 404px;
}

.SecondCardsBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    margin-top: 70px;

    width: 1120px;
    height: 404px;
}

.CalendarBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 70px;

    width: 1220px;

    overflow-x: scroll;
    overflow: hidden;
}

.Calendar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 1880px;
    height: 351px;
}

.CalendarSwiperView {
    width: 1220px;
    height: 351px;
}

.Footer {
    width: 100vw;

    margin-top: 167px;
}