.Buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 343px;
    height: 57px;
}

.Link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    text-decoration: none;

    width: 148px;
    height: 57px;
}

.Active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    text-decoration: none;

    width: 148px;
    height: 57px;

    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 15px 0px;
}

.Text {
    width: 128px;
    height: 37px;

    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;

    color: #FFFFFF;
}