.Header {
    display: flex;
    justify-content: center;

    width: 100vw;

    background: #FA1E01;
}

.HeaderBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 80px;
    gap: 624px;

    width: 1280px;
    height: 104px;

    background: #FA1E01;
}