.Header {
    display: flex;
    justify-content: center;

    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;

    background: #FA1E01;

    z-index: 99999;
}

.HeaderBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 80px;
    gap: 624px;

    width: 1280px;
    height: 104px;

    background: #FA1E01;
}